@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-family: "Roboto", Arial;
  min-height: 100%;
  color: #161616;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
}

.menu-btn {
  display: block;
  font-size: 11px;
  text-align: center;
  color: #000;
  position: relative;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  margin-right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.menu-btn span {
  margin: 8px auto;
}
.menu-btn span, .menu-btn:before, .menu-btn:after {
  content: "";
  width: 25px;
  display: block;
  height: 1px;
  background: #161616;
}

.site-overlay {
  opacity: 0;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header-menu-wrapper {
  @apply py-20 text-center text-xl sm:py-0 sm:flex flex-grow items-center w-72 fixed sm:static -right-72 top-0  bottom-0;
}

.header {
  background: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: 96px;
}

.menuActive {
  overflow: hidden;
  position: relative;
}
.menuActive .main__menu_a:hover .main__menu_arrow {
  rotate: 0deg;
}
.menuActive .header {
  margin-top: -96px;
}
.menuActive .site-overlay {
  display: block;
  opacity: 0.6;
  z-index: 900;
}
.menuActive .header {
  position: static;
}
.menuActive .main__menu_sub {
  position: static;
  left: 0;
  top: 100%;
  display: block;
  @apply my-5 bg-accent2;
}
.menuActive .main__menu_sub_a {
  padding: 10px 0;
}
.menuActive .header-menu-wrapper {
  padding-top: 0;
  overflow: auto;
  right: 0;
  z-index: 1000;
  background: #FFF;
  @apply bg-accent;
}
.menuActive .main__menu_li {
  margin: 20px 0;
}
.menuActive .menu-btn {
  z-index: 1000;
}
.menuActive .menu-btn:before, .menuActive .menu-btn:after {
  position: absolute;
  margin: auto;
  inset: -9999px;
}
.menuActive .menu-btn:before {
  transform: rotate(45deg);
}
.menuActive .menu-btn:after {
  transform: rotate(-45deg);
}
.menuActive .menu-btn span {
  display: none;
}

.main__img_wrap {
  @apply relative inline-block;
}
.main__img_wrap:before, .main__img_wrap:after {
  content: "";
  transform: rotate(-45deg);
  position: absolute;
  z-index: 10;
  margin: auto;
}
.main__img_wrap:before {
  width: 85%;
  height: 85%;
  background: #FFD166;
  left: 8%;
  top: 1.5%;
}
.main__img_wrap:after {
  width: 78%;
  height: 78%;
  background: #D00000;
  right: -5%;
  bottom: 2%;
}

.main__img_img {
  transform: rotate(12deg);
  position: relative;
  z-index: 20;
  width: 423px;
}

.main__img_img, .main__img_wrap:before, .main__img_wrap:after {
  border-radius: 65px;
}

.main__img_caption {
  @apply bg-white -right-6 p-4 rounded-2.5xl text-xs xxs:text-sm absolute -bottom-6 xxs:bottom-1 z-30 text-primary3 text-left;
}
.main__img_caption img {
  width: 66px;
}

.ul_li_checked {
  padding-left: 26px;
  position: relative;
  line-height: 20px;
}
.ul_li_checked:before {
  content: "";
  width: 14px;
  height: 12px;
  background: url(../img/checked.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 4px;
}

.btn {
  @apply sm:text-xl leading-6 font-medium bg-secondary text-white px-10 py-4 sm:py-5 inline-block hover:bg-accent hover:text-primary active:bg-primary active:text-white;
}

.main__nav_wrap {
  @apply relative sticky top-0;
}
.main__nav_wrap:before {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  height: 100%;
  width: 40px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index: 30;
}

.main__nav {
  @apply overflow-auto py-5 border-b border-accent3 bg-white z-10 px-5 -mx-5;
}

.main__nav_li {
  margin-right: 20px;
  white-space: nowrap;
}

.main__nav_li:last-child {
  padding-right: 30px;
}

.main__nav_li.active .main__nav_a {
  @apply bg-accent2 rounded-3xl;
}

.main__nav_a {
  @apply block px-5 py-2.5 leading-5;
}

.main__menu_ul {
  @apply sm:flex sm:items-center;
}

.main__menu_li {
  position: relative;
  margin: 10px 20px;
}

.main__menu_a {
  display: block;
  padding: 4px 0;
}
.main__menu_a:hover .main__menu_arrow {
  rotate: 180deg;
}

.main__menu_arrow {
  @apply ml-2 shrink-0 cursor-pointer;
}

.main__menu_a--sub {
  @apply flex items-center justify-center;
}

.main__menu_sub_a {
  white-space: nowrap;
  padding: 4px 30px;
  display: block;
}
.main__menu_sub_a:hover {
  @apply bg-secondary text-white;
}

.main__menu_li:hover .main__menu_sub {
  display: block;
}

.main__menu_sub {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  @apply bg-accent;
  padding: 10px 0;
}

.main__block {
  @apply bg-accent2 overflow-hidden sm:flex justify-center flex-col;
  min-height: calc(100vh - 96px);
}

.header_login {
  @apply bg-secondary sm:bg-white block border-b mb-5 py-8 sm:py-1 text-white sm:text-primary sm:border-b-0  sm:mb-0 font-medium;
}

/*------animation--------*/
.header-menu-wrapper, .site-overlay, a, button, input, textarea,
.menu-btn:after, .menu-btn:before, .main__menu_arrow {
  transition: all 0.3s;
}

/*------media-------*/
@media screen and (min-width: 992px) {
  .main__menu_li {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main__img_img, .main__img_wrap:before, .main__img_wrap:after {
    border-radius: 100px;
  }
  .main__img_caption img {
    width: 86px;
  }
  .main__img_img {
    width: 360px;
  }
}
@media screen and (min-width: 1320px) {
  .main__img_img {
    width: 423px;
  }
}

/*# sourceMappingURL=styles.css.map */
