<!DOCTYPE html>
<html lang="en">

<head> 
   <!-- ======================================== -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Enrol</title>
<meta name="description" content="Enrol in a Digital Design bootcamp to kickstart your professional career" />

<link rel="stylesheet" href="css/styles.css">
<!-- End Links -->
<!-- ======================================== -->
</head>

<body class="pt-24">
   <header class="header"><div class="container">
      <div class="header-bordered py-6">
         <a href="#"  class="shrink-0" aria-label="logo">
            <img src="img/logo.svg" width="107" height="48"  alt="">
         </a>
      </div>
   </div></header>
	<div class="container">
      <div class="enrol__block under--header mb-16 sm:mb-32">
         <div class="enrol__block_left">
            <h1 class="font-medium text-3.5xl sm:text-4.5xl leading-tight">Enrol in a Digital Design bootcamp to kickstart your professional career</h1>
            <ul class="mt-10">
               <li class="ul_li_checked mb-5">No experience needed, we help building skills</li>
               <li class="ul_li_checked mb-5">Online support or personalised mentorship</li>
               <li class="ul_li_checked mb-5">No credit card required now</li>
            </ul>
            <div class="mt-10"><span class="font-medium">Have question?</span> <a href="#" class="underline hover:no-underline hover:text-secondary">Browse FAQ</a></div>
         </div>
         <div class="enrol__block_right">
            <div class="mb-10">
               <label for="" class="block mb-2.5">First Name</label>
               <input type="text" placeholder="Maxim" class="form-control" />
            </div>
            <div class="mb-10">
               <label for="" class="block mb-2.5">Last Name</label>
               <input type="text" placeholder="Maxim" class="form-control" />
            </div>
            <div class="mb-10">
               <label for="" class="block mb-2.5">Email</label>
               <input type="email" placeholder="Maximlatanovschii@gmail.coom" class="form-control" />
            </div>
            <div class="mb-10">
               <label for="" class="block mb-2.5">Phone Number</label>
               <input type="text" placeholder="07361552387" class="form-control" />
               <div class="opacity-50 mt-2.5">We'll only use your phone number for admissions and course-related messages or calls. Your information will never be shared or sold.</div>
            </div>
            <button type="submit" class="btn py-4 px-10">Start Your Application</button>
         </div>
      </div>
      <div class="xxs:grid sm:flex grid-cols-2 xxs:items-center mb-12 sm:mb-24">
         <div class="xxs:mr-5 xs:mr-20 xs:shrink-0 mb-10 xxs:mb-0">
            <img src="img/enrol.jpg" width="400" alt="" class="xs:mx-0 w-full xxs:w-auto" />
         </div>
         <div class="xs:text-xl max-w-lg">
            <div class="font-medium mb-4">Mysterious Jason, Career coach</div>
            <div>Early career professionals For recent graduates and early-career professionals aspiring to improve skills and progress to mid-weightUX/UI roles, we provide the essential expertise to excel in the field.</div>
         </div>
      </div>
      

      <h3 class="text-2xl sm:text-2.5xl leading-normal font-medium mb-6">Frequently asked questions</h3>
      <div class="accordion mb-14 sm:mb-20">
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Chapter 1. Digital design fundamentals</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Is this bootcamp suitable for me if I have no prior design knowledge?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Will my assignments be reviewed by someone?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What if my schedule changes and I can no longer commit to the bootcamp?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What are the available payment methods and structures?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What is the policy for cancellations and refunds?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Can you help with job searching?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Can I work full-time while enrolled in this UX design course?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What projects will I work on during this UX design course?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
      </div>
   </div><!--end container-->
   <section class="bg-accent2 py-12 sm:py-24 text-center">
      <div class="container">
         <h3 class="mx-auto text-2xl sm:text-2.5xl leading-normal font-medium mb-4 sm:mb-5 max-w-lg">Enrol in a Product Design bootcamp to kickstart your professional career</h3>
         <a href="#" class="btn btn--yellow py-4 px-10">Enrol in a UX Design bootcamp</a>
      </div>
   </section>
   <footer class="bg-primary text-white sm:text-xl sm:leading-normal">
      <div class="container pt-5 xs:pt-10 pb-12 xs:pb-0 xs:grid xs:grid-cols-3 xs:gap-x-8">
         <div class="xs:col-span-2">
            <div class="xs:flex mb-7 xs:gap-9">
               <div><a href="mailto:Hello@reduxbootcamp.com" aria-label="mail">Hello@reduxbootcamp.com</a></div>
               <div><a href="tel:+447361442688" aria-label="Phone">+44 7361 4426 88</a></div>
            </div>
            <ul class="footer__nav mb-12">
               <li class="footer__nav_li"><a href="#" aria-label="About Us">About Us</a></li>
               <li class="footer__nav_li"><a href="#" aria-label="Courses">Courses</a>
                  <div class="opacity-50 text-sm sm:text-base">Product Design <br>
                  <a href="#" class="hover:underline" aria-label="UI Design">UI Design</a> - Coming Soon</div>
               </li>
               <li class="footer__nav_li"><a href="#" aria-label="Student Stories">Student Stories</a></li>
               <li class="footer__nav_li"><a href="#" aria-label="Careers">Careers</a></li>
            </ul>
         </div>
         <div class="xs:col-span-1">
            <ul class="flex justify-end flex-wrap gap-5">
               <li class="mb-5"><a href="#"  aria-label="Social instagram" class="social_a">
                  <img src="img/social_insta.png" width="20" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="-inset-9999 absolute m-auto sm:scale-150">
               </a></li>
               <li class="mb-5"><a href="#" class="social_a" aria-label="Social X">
                  <img src="img/social_x.png" width="24" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="-inset-9999 absolute m-auto sm:scale-150">
               </a></li>
            </ul>
            <div class="opacity-50 text-sm sm:text-base text-right">©2023 reduxbootcamp</div>
         </div>
      </div>
   </footer>
   <script src="js/fslightbox.js"></script>
   <script src="js/script.js"></script>
</body>
</html>