<!DOCTYPE html>
<html lang="en">

<head> 
   <!-- ======================================== -->
<meta charset="UTF-8">
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Index</title>

<link rel="stylesheet" href="/css/styles.css">
<!-- End Links -->
<!-- ======================================== -->
</head>

<body>
	<header>
      <div class="shrink-0">
         <img src="img/logo.svg" width="107" height="48"  alt="">
      </div>
      <nav>
         <ul>
            <li><a href="#">Courses</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Student Stories</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
         </ul>
      </nav>
      <a href="#">Login</a>
   </header>

   <script src="js/script.js"></script>
</body>
</html>