<!DOCTYPE html>
<html lang="en">

<head> 
   <!-- ======================================== -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Index</title>
<meta name="description" content="IT is booming worldwide, encompassing coding, data analysis, and digital design. UX designers play a pivotal role in crafting user-friendly digital products. Join us in shaping this transformative journey." />

<link rel="stylesheet" href="css/styles.css">
<!-- End Links -->
<!-- ======================================== -->
</head>

<body class="pt-24">
	<header class="header"><div class="container py-6 flex justify-between">
      <div class="shrink-0">
         <img src="img/logo.svg" width="107" height="48"  alt="">
      </div>
      <div class="header-menu-wrapper">
         <div class="text-center order-2 sm:border-l border-primary/30 sm:ml-5 sm:pl-10">
            <a href="#" aria-label="Login" class="main__menu_a header_login"><span class="main__menu_span">Login</span></a>
         </div>
         <nav class="sm:ml-auto order:1">
            <ul class="sm:flex">
               <li class="main__menu_li">
                  <a href="#" class="main__menu_a main__menu_a--sub"  aria-label="Menu">
                     <span class="main__menu_span">Courses</span>
                     <span class="main__menu_arrow">
                        <img src="img/arrow.svg" width="13" height="9" alt="">
                     </span>
                  </a>
                  <ul class="main__menu_sub">
                     <li><a href="#" class="main__menu_sub_a" aria-label="Careers">Courses 1</a></li>
                     <li><a href="#" class="main__menu_sub_a" aria-label="Careers">Courses 2</a></li>
                     <li><a href="#" class="main__menu_sub_a" aria-label="Careers">Courses 3</a></li>
                     <li><a href="#" class="main__menu_sub_a" aria-label="Careers">Courses 4</a></li>
                  </ul>
               </li>
               <li class="main__menu_li"><a href="#" class="main__menu_a" aria-label="About Us"><span class="main__menu_span">About Us</span></a></li>
               <li class="main__menu_li"><a href="#" class="main__menu_a" aria-label="Student Stories"><span class="main__menu_span">Student Stories</span></a></li>
               <li class="main__menu_li"><a href="#" class="main__menu_a" aria-label="Careers"><span class="main__menu_span">Careers</span></a></li>
               <li class="main__menu_li"><a href="#" class="main__menu_a" aria-label="Contact"><span class="main__menu_span">Contact</span></a></li>
            </ul>
         </nav>
      </div>
      <div class="menu-btn sm:hidden"><span></span></div>
   </div></header>
   <section class="main__block">
      <div class="container sm:flex items-center justify-between pt-20 pb-11 sm:pt-20 sm:pb-20">
         <div class="text-center pl-2 pr-4 xxs:pl-8 xxs:pr-12 sm:pl-0 md:ml-20 shrink-0 order-2">
            <div class="main__img_wrap">
               <img src="img/main_img.jpg" width="423" height="423" alt="" class="main__img_img">
               <div class="main__img_caption">
                  <div class="text-xs xxs:text-base font-bold">Kate Flilya</div>
                  <span class="font-bold">RedUX graduate</span> <br>
                  <div class="text-primary5 mt-1">
                     <div><span class="text-bold">from</span> Recruiter <br>
                     <span class="text-bold">to</span> UX designer at Danone</div>
                  </div>
                  <div class="mt-4">
                     <img src="img/danone.png" width="86" alt="" class="block">
                  </div>
               </div>
            </div>
         </div>
         <div class="flex-grow mt-10 sm:mr-10 md:mr-20 order-1 text-left">
            <div class="text-base text-primary2 sm:mb-2.5 sm:text-xl">Online | 6 Months</div>
            <h1 class="text-3.5xl sm:text-4.5xl leading-tight">We transform novices into <span class="bg-accent font-medium whitespace-nowrap">mid-weight</span> product/UX designers</h1>
            <p class="mt-5 sm:text-xl leading-normal">IT is booming worldwide, encompassing coding, data analysis, and digital design. UX designers play a pivotal role in crafting user-friendly digital products. Join us in shaping this transformative journey.</p>
            <ul class="xxs:flex xxs:gap-10 mt-6 xxs:mt-8">
               <li class="ul_li_checked mb-1.5 sm:mb-0">Flexible payment options</li>
               <li class="ul_li_checked mb-1.5 sm:mb-0">Autonomous or with a mentor</li>
            </ul>
            <a href="#" class="btn mt-4 sm:mt-8 px-10 py-4 sm:py-4.5" aria-label="Apply Now">Apply Now</a>
         </div>
      </div>
   </section><!--end main__block-->
   <div class="container relative">
      <div class="main__nav_wrap">
         <nav class="main__nav scrollable">
            <ul class="flex">
               <li class="main__nav_li active"><a href="#main__nav1" class="main__nav_a">Introduction</a></li>
               <li class="main__nav_li"><a href="#main__nav2" class="main__nav_a" aria-label="How it works"><span>How it works</span></a></li>
               <li class="main__nav_li"><a href="#main__nav3" class="main__nav_a" aria-label="Mentorship"><span>Mentorship</span></a></li>
               <li class="main__nav_li"><a href="#main__nav4" class="main__nav_a" aria-label="Skills you will gain"><span>Skills you will gain</span></a></li>
               <li class="main__nav_li"><a href="#main__nav5" class="main__nav_a" aria-label="Curriculum"><span>Curriculum</span></a></li>
               <li class="main__nav_li"><a href="#main__nav6" class="main__nav_a" aria-label="Apply now"><span>Apply now</span></a></li>
            </ul>
         </nav>
      </div>
      <div class="my-10">
         Transition from entry-level, and gain the expertise needed to excel as a mid-weight designer. Join us to unlock new opportunities in the world of design.
      </div>
      <div class="bg-primary text-white py-8 px-5 xs:flex items-center leading-snug mb-12">
         <div class="font-light text-2xl xs:text-2.5xl xs:w-96 xs:text-center shrink-0 leading-snug mb-8 xs:mb-0">
            <span class="inline-block text-left">Gain job ready skills <br>in just 6 months</span>
         </div>
         <ul class="leading-snug">
            <li class="ul_li ul_li--white mb-4">Elevate your proficiency beyond junior status to an intermediate level</li>
            <li class="ul_li ul_li--white mb-4">Benefit from intensified mentorship and instructor guidance for enhanced support</li>
            <li class="ul_li ul_li--white mb-4">Seamlessly integrate the course into your work or studies</li>
         </ul>
      </div>    
      <div class="text-primary4 mainNav" id="main__nav1">Introduction</div>
      <h2 class="text-3.5xl sm:text-4.5xl sm:leading-snug font-medium mb-10 sm:mb-14">Who can benefit from this bootcamp?</h2>
      <ul class="sm:text-xl xs:grid grid-cols-2 gap-x-12">
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Career changers</div>
            <p>For those seeking a career change, explore the realm of UX/UI design – a profession that harmonies creative expression with analytical thinking.</p>
         </li>
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Early career professionals</div>
            <p>For recent graduates and early-career professionals aspiring to improve skills and progress to mid-weight UX/UI roles, we provide the essential expertise to excel in the field.</p>
         </li>
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Tech novices</div>
            <p>Individuals who have a limited background in technology or design and are interested in acquiring digital design skills to excel as mid-weight designers.</p>
         </li>
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Web and graphic designers</div>
            <p>Organise and consolidate your knowledge, enrich your portfolio with diverse projects, and cultivate a heightened sense of confidence within the competitive market landscape.</p>
         </li>
      </ul>
      <hr class="border-t border-accent3 my-10">
      <div class="text-primary4 mainNav" id="main__nav2">How it works</div>
      <div class="xs:grid grid-cols-2 gap-x-12 xs:mb-6">
         <div>
            <h3 class="text-2xl sm:text-2.5xl leading-normal font-medium mb-4 sm:mb-5">Proven method for achieving student excellence: our approach in action</h3>
            <p class="sm:text-xl mb-5 text-primary2 sm:leading-relaxed">Immerse yourself in hands-on learning guided by personalised mentorship, and actively engage in real-world industry projects to acquire a wealth of expertise. These experiences will skillfully provide you with practical and essential skills, enabling your success in the dynamic design field.</p>
         </div>
         <div class="text-primary2">
            <ul class="">
               <li class="mb-10 xs:mb-14 xxs:flex">
                  <div class="w-24 h-24 bg-secondary rounded-full flex justify-center flex-col items-center mx-auto xxs:ml-0 xxs:mr-5 mb-5 sm:mb-0 shrink-0">
                     <span class="shrink-0">
                        <img src="img/method_mentor.svg" width="37" height="34" alt="">
                     </span>
                  </div>
                  <div class="text-center xxs:text-left xxs:-mt-1">
                     <div class="mb-1.5">Get matched with an <span class="font-medium">industry mentor</span></div>
                     <ul>
                        <li class="ul_li">Weekly live video consultations</li>
                        <li class="ul_li">Comprehensive feedback and reviews</li>
                        <li class="ul_li">Industry insights and tips</li>
                     </ul>
                  </div>   
               </li>
               <li class="mb-10 xs:mb-14 xxs:flex">
                  <div class="w-24 h-24 bg-secondary rounded-full flex justify-center flex-col items-center mx-auto xxs:ml-0 xxs:mr-5 mb-5 sm:mb-0 shrink-0">
                     <span class="shrink-0">
                        <img src="img/method_coaching.svg" width="40" height="38" alt="">
                     </span>
                  </div>
                  <div class="text-center xxs:text-left xxs:-mt-1">
                     <div class="mb-1.5"><span class="font-medium">Career coaching</span> to align with the industry demands</div>
                     <ul>
                        <li class="ul_li">Career support from the first day</li>
                        <li class="ul_li">Industry and salary insights</li>
                        <li class="ul_li">LinkedIn and resume writing support</li>
                     </ul>
                  </div>   
               </li>
            </ul>
         </div>
      </div>
      <div class="py-5 xs:py-7 sm:py-9 px-5 xs:px-10 sm:px-20 border border-t-3 border-accent mb-10 sm:mb-20 mainNav" id="main__nav3">
         <div class="font-medium mb-9 sm:text-xl">Meet our mentors and career coaches from leading <br class="hidden xs:block">IT agencies and large-cap companies:</div>
         <ul class="xs:grid grid-cols-2 gap-x-12 text-sm leading-normal sm:text-base border-b border-accent3 mb-10 sm:mb-14 sm:pb-8">
            <li class="flex mb-10 xs:mb-8">
               <div class="shrink-0 w-20 h-20 sm:w-28 sm:h-28 mr-3">
                  <img src="img/mentor1.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="object-cover">
               </div>
               <div>
                  <div class="font-bold">
                     Maxim Latanovschii, Design Mentor
                  </div>
                  Lead UX Designer, Visual Designer <br>
                  @ BMS Group
               </div>
            </li>
            <li class="flex mb-10 xs:mb-8">
               <div class="shrink-0 w-20 h-20 sm:w-28 sm:h-28 mr-3">
                  <img src="img/mentor2.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="object-cover">
               </div>
               <div>
                  <div class="font-bold">
                     Dmitrii Cretu, Mentorship Coordinator
                  </div>
                  Head Of Design <br>
                  @ Partisia Blockchain
               </div>
            </li>
            <li class="flex mb-10 xs:mb-8">
               <div class="shrink-0 w-20 h-20 sm:w-28 sm:h-28 mr-3">
                  <img src="img/mentor3.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="object-cover">
               </div>
               <div class="text-sm leading-normal xs:text-base">
                  <div class="font-bold">
                     Lilya Jeanne-Rose, Career coach
                  </div>
                  Account Specialist <br>
                  @ Sage Publishing
               </div>
            </li>
            <li class="flex mb-10 xs:mb-8">
               <div class="shrink-0 w-20 h-20 sm:w-28 sm:h-28 mr-3">
                  <img src="img/mentor4.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="object-cover">
               </div>
               <div>
                  <div class="font-bold">
                     Kathrine Barco, Career coach
                  </div>
                  Human Resources Specialist <br>@ KPMG US
               </div>
            </li>
         </ul>
         <div class="max-w-3xl mb-5 sm:mb-5">
            <div class="font-bold">Experienced Professionals</div>
            <p>
               Our mentors' expertise is enriched by their involvement in a range of projects and organisations, allowing them to offer invaluable insights to students. Each mentor is an active industry professional, capable of providing both hands-on practical guidance and comprehensive theoretical assistance to aspiring individuals.</p>
         </div>
         <ul class="flex items-center flex-wrap md:flex-nowrap gap-x-7 sm:gap-x-10 sm:mb-10">
            <li class="mb-7 md:flex-grow">
               <img src="img/partner1.png" alt="" width="80" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="md:w-full">
            </li>
            <li class="mb-7 md:flex-grow">
               <img src="img/partner2.png" alt="" width="107" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="md:w-full">
            </li>
            <li class="mb-7 md:flex-grow">
               <img src="img/partner3.png" alt="" width="127" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="md:w-full">
            </li>
            <li class="mb-7 md:flex-grow">
               <img src="img/partner4.png" alt="" width="122" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="md:w-full">
            </li>
            <li class="mb-7 md:flex-grow">
               <img src="img/partner5.png" alt="" width="217" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="md:w-full">
            </li>
            <li class="mb-7 md:flex-grow">
               <img src="img/partner6.png" alt="" width="114" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="md:w-full">
            </li>
         </ul>
      </div>
      <div class="text-primary4 mainNav" id="main__nav4">Skills you will gain</div>
      <h2 class="text-3.5xl sm:text-4.5xl sm:leading-snug font-medium mb-10 sm:mb-12">Job-ready skills employers seek</h2>
      <ul class="sm:text-xl xs:grid grid-cols-2 gap-x-12">
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Research</div>
            <p>You'll discover user preferences and needs in product usage. You'll master competitor analysis, gather insights, analyse your target audience, and craft personas or user archetypes.</p>
         </li>
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Prototyping</div>
            <p>You'll master creating interactive prototypes for various devices. These prototypes, with different levels of detail, will cover various scenarios, helping you confirm design choices.</p>
         </li>
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Visual design</div>
            <p>You will learn how to design clear, consistent, and appealing visual design, to enhance usability, encourage user actions, and set your product apart.</p>
         </li>
         <li class="mb-8 sm:mb-10 xs:pr-5">
            <div class="font-medium">Testing</div>
            <p>You will learn how to test hypotheses and evaluate different design decisions using various testing methodologies, including usability, accessibility, guerrilla testing, card sorting, and more.</p>
         </li>
      </ul>
      <hr class="border-t border-accent3 my-10 sm:mb-20">
      <p class="mb-6 sm:mb-7 sm:text-xl">Also, you’ll learn the tools designers use, like:</p>
      <ul class="flex items-center flex-wrap md:flex-nowrap gap-x-7 sm:gap-x-10 mb-5 sm:mb-10">
         <li class="mb-7">
            <img src="img/tools1.png" alt="" width="41" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
         </li>
         <li class="mb-7">
            <img src="img/tools2.png" alt="" width="41" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
         </li>
         <li class="mb-7">
            <img src="img/tools3.png" alt="" width="146" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
         </li>
         <li class="mb-7">
            <img src="img/tools4.png" alt="" width="158" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
         </li>
         <li class="mb-7">
            <img src="img/tools5.png" alt="" width="163" loading="lazy" decoding="async" style="background-size: cover; background-image: none;">
         </li>
      </ul>
      <div class="bg-primary py-10 pb-1 px-5 sm:px-20 text-white mb-16 sm:mb-20">
         <div class="text-2xl font-medium mb-10">Strong portfolio upon bootcamp completion</div>
         <div class="xxs:grid grid-cols-2 gap-x-7">
            <div class="mb-10">
               <a href="img/portfolio1.jpg" data-fslightbox="gallery" class="gallery_item mb-2.5" aria-label="Gallery1">
                  <img src="img/portfolio_thumb1.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="absolute inset-0 object-cover w-full h-full">
               </a>
               <div class="font-medium mb-0.5">Name Surename</div>
               Desktop
            </div>
            <div class="mb-10">
               <a href="img/portfolio2.jpg" data-fslightbox="gallery" class="gallery_item mb-2.5" aria-label="Gallery2">
                  <img src="img/portfolio_thumb2.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="absolute inset-0 object-cover w-full h-full">
               </a>
               <div class="font-medium mb-0.5">Trixy Woodhouse</div>
               E-commerce website
            </div>
            <div class="mb-10">
               <a href="img/portfolio3.jpg" data-fslightbox="gallery" class="gallery_item mb-2.5" aria-label="Gallery3">
                  <img src="img/portfolio_thumb3.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="absolute inset-0 object-cover w-full h-full">
               </a>
               <div class="font-medium mb-0.5">Lauren Borough</div>
               Mobile subscription management application
            </div>
            <div class="mb-10 mb-0.5">
               <a href="img/portfolio4.jpg" data-fslightbox="gallery" class="gallery_item mb-2.5" aria-label="Gallery4">
                  <img src="img/portfolio_thumb4.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="absolute inset-0 object-cover w-full h-full">
               </a>
               <div class="font-medium mb-0.5">Katie Zesiger</div>
               Gallery and museum tour application
            </div>
         </div>

         
      </div>
      <h3 class="text-2xl sm:text-2.5xl leading-normal font-medium mb-4 sm:mb-10">Possible career paths</h3>
      <ul class="md:text-xl xxs:grid grid-cols-2 sm:grid-cols-4 gap-x-8">
         <li class="mb-8 sm:mb-10">
            <div class="font-medium">UX/UI Designer</div>
            <p>Create user-friendly interfaces and experiences for websites, mobile apps, and digital platforms, prioritising ease of use and attractive design.</p>
         </li>
         <li class="mb-8 sm:mb-10">
            <div class="font-medium">Visual Designer</div>
            <p>Focus on creating visually appealing designs by selecting colour schemes, typography, and other visual elements that enhance the overall aesthetic.</p>
         </li>
         <li class="mb-8 sm:mb-10">
            <div class="font-medium">UX Researcher</div>
            <p>Conduct user research to gather insights, which aids in shaping the design process and ensures that products align with user requirements</p>
         </li>
         <li class="mb-8 sm:mb-10">
            <div class="font-medium">Product Designer</div>
            <p>Engage in end-to-end product design, from conceptualisation to final execution, considering both the user experience and aesthetics.</p>
         </li>
      </ul>
      <hr class="border-t border-accent3 my-10">
      <div class="xs:grid grid-cols-2 gap-x-14 mb-10 xs:mb-20 mainNav" id="main__nav5">
         <div>
            <div class="text-primary4">Curriculum</div>
            <h2 class="text-3.5xl sm:text-4.5xl sm:leading-snug font-medium mb-4 sm:mb-7">Design Excellence Unleashed: What You'll Learn in our Ui/UX Bootcamp</h2>
            <p class="sm:text-xl mb-5 xs:mb-0 text-primary2 sm:leading-relaxed">In this bootcamp, you'll adopt design thinking, learn AI techniques, and enhance your ability to create personalised and compelling user experiences. Our focus is on practical tasks that cover design principles, teaching you both UI and UX fundamentals and advanced techniques. AI learning is seamlessly woven throughout the program, empowering you to boost your performance and results using modern AI language. Our aim is to shape well-rounded mid-weight designers with holistic skills.</p>
         </div>
         <div class="text-primary2 accordion__wrap before:hidden xs:before:block">
            
            <div class="accordion accordion--columns scrollable-xs">
               <div class="accordion-item group/item">
                 
                  <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
                     <span>Chapter 1. Digital design fundamentals</span>
                     <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                        <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
                     </div>
                  </button>
                 
                 <div class="accordion-collapse">
                   <div class="accordion-body">
                     In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
                   </div>
                 </div>
               </div>
               <div class="accordion-item group/item">
                 
                  <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
                     <span>Exploring AI and its significance in the UX field</span>
                     <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                        <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
                     </div>
                  </button>
                 
                 <div class="accordion-collapse">
                   <div class="accordion-body">
                     In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
                   </div>
                 </div>
               </div>
               <div class="accordion-item group/item">
                 
                  <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
                     <span>The methodology of design thinking</span>
                     <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                        <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
                     </div>
                  </button>
                 
                 <div class="accordion-collapse">
                   <div class="accordion-body">
                     In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
                   </div>
                 </div>
               </div>
               <div class="accordion-item group/item">
                 
                  <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
                     <span>Introduction to user experience research</span>
                     <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                        <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
                     </div>
                  </button>
                 
                 <div class="accordion-collapse">
                   <div class="accordion-body">
                     In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
                   </div>
                 </div>
               </div>
               <div class="accordion-item group/item">
                 
                  <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
                     <span>Introduction to user experience research</span>
                     <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                        <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
                     </div>
                  </button>
                 
                 <div class="accordion-collapse">
                   <div class="accordion-body">
                     In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
                   </div>
                 </div>
               </div>
            </div>
            <div class="flex justify-between mt-6 xs:absolute inset-0 top-auto z-50">
               <a href="#" class="btn btn--yellow px-8 py-3.5 xs:ml-auto" aria-label="Request Syllabus">Request Syllabus</a>
            </div>
         </div>
      </div>
      
      <div class="text-2xl sm:text-2.5xl leading-normal font-medium mb-3">Student Reviews</div>
      <div class="xxs:grid grid-cols-2 gap-x-7">
         <div class="mb-10 xxs:mb-0">
            <a href="https://youtu.be/FZSi1bK-BRM" data-fslightbox="gallery2" class="gallery_item gallery_item--video mb-4" aria-label="Video1">
               <img src="img/video1.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="absolute inset-0 object-cover w-full h-full z-10">
            </a>
            <div class="font-medium mb-0.5">Name Surename</div>
            Get personalised guidance from experienced design mentors who offer support and keep you motivated and informed about industry trends.
         </div>
         <div class="mb-10 xxs:mb-0">
            <a href="https://youtu.be/FZSi1bK-BRM" data-fslightbox="gallery2" class="gallery_item gallery_item--video mb-4" aria-label="Video2">
               <img src="img/video2.jpg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="absolute inset-0 object-cover w-full h-full z-10">
            </a>
            <div class="font-medium mb-0.5">Name Surename</div>
            Get personalised guidance from experienced design mentors who offer support and keep you motivated and informed about industry trends.
         </div>
      </div>
      <hr class="border-t border-accent3 my-10 sm:my-20">
      <div class="text-primary4 mainNav" id="main__nav6">Apply Now</div>
      <h2 class="text-3.5xl sm:text-4.5xl sm:leading-snug font-medium mb-10 sm:mb-12">One course with two different prices</h2>
      <div class="xs:flex gap-x-8 tarif__block">
         <!--tarif_left-->
         <div class="hidden sm:block w-48 shrink-0">
            <div class="tarif_row h-22">
               Payment Plan
            </div>
            <div class="tarif_row h-12">
               Duration
            </div>
            <div class="tarif_row h-12">Course Coordinators</div>
            <div class="tarif_row h-12">Design mentor</div>
            <div class="tarif_row h-12">Career advisor</div>
            <div class="tarif_row h-12">Curriculum</div>
            <div class="tarif_row h-12">Portfolio</div>
            <div class="tarif_row h-12">Tarif</div>
         </div><!--end tarif__left-->
         <a href="#" class="block px-6 pb-16 border border-t-4 relative border-accent sm:w-72 mb-10 sm:mb-20 group/tarif" aria-label="Tarif1">
            <div class="tarif_row h-22 text-2xl xs:text-3.5xl">
               Autonomous
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Online, 6 months</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Help and Technical Support</div>
            </div>
            <div class="tarif_row h-12">
               --
            </div>
            <div class="tarif_row h-12">
               --
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Over 100 hours of practice</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">4 substantial case studies</div>
            </div>
            <div class="tarif_row h-36">
               <div class="flex mb-4">
                  <div class="text-xs px-2.5 leading-5 py-1.5 bg-accent2 font-medium">Budget Friendly</div>
               </div>
               <div class="flex justify-between w-full">
                  <div>
                     <div class="font-bold">Pay upfront</div>
                     for 6 months
                  </div>
                  <div class="font-medium text-3.5xl xs:text-4.5xl leading-10">$990</div>
               </div>
            </div>
            <div class="btn btn--yellow py-5 group-hover/tarif:bg-primary group-hover/tarif:text-white text-xl">Apply</div>
         </a>
         <a href="#" class="block px-6 pb-16 border border-t-4 relative border-primary sm:max-w-lg w-full mb-10 sm:mb-20 group/tarif" aria-label="Tarif2">
            <div class="tarif_row h-22 text-2xl xs:text-3.5xl">
               Pro
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Online, 6 months</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Help and Technical Support</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Weekly calls with experienced design mentor</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Monthly calls with a career advisor</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Over 100 hours of practice</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">4 substantial case studies</div>
            </div>
            <div class="tarif_row h-36">
               <div class="flex mb-4 justify-between w-full">
                  <div class="text-xs px-2.5 leading-5 py-1.5 bg-secondary text-white font-medium">Best value</div>
                  <div class="text-2xl">
                     <span class="text-primary4 line-through">$8,800</span>
                     <span class="ml-2.5 text-secondary">-20%</span>
                  </div>
               </div>
               <div class="flex justify-between w-full">
                  <div>
                     <div class="font-bold">Upfront discount</div>
                     pay upfront and save
                  </div>
                  <div class="font-medium text-3.5xl xs:text-4.5xl leading-10">$7,040</div>
               </div>
            </div>
            <div class="tarif_row h-36">
               <div class="flex mb-4">
                  <div class="text-xs px-2.5 leading-5 py-1.5 bg-accent2 font-medium">Flexible</div>
               </div>
               <div class="flex justify-between w-full">
                  <div>
                     <div class="font-bold">Monthly</div>
                     only pay for the month you need
                  </div>
                  <div class="font-medium text-3.5xl text-primary4 xs:text-4.5xl leading-10">$1,299</div>
               </div>
            </div>
            <div class="btn py-5 group-hover/tarif:bg-primary group-hover/tarif:text-white text-xl">Apply</div>
         </a>
      </div><!--end tarif__block-->
      <h3 class="text-2xl sm:text-2.5xl leading-normal font-medium mb-6" id="faq">Frequently asked questions</h3>
      <div class="accordion accordion--faq mb-14 sm:mb-20">
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Is this bootcamp suitable for me if I have no prior design knowledge?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What does the process of education look like?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Will my assignments be reviewed by someone?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What if my schedule changes and I can no longer commit to the bootcamp?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What are the available payment methods and structures?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What is the policy for cancellations and refunds?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Can you help with job searching?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>Can I work full-time while enrolled in this UX design course?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
         <div class="accordion-item group/item">
           
            <button class="accordion-button group-hover/item:bg-accent2 px-2.5" type="button">
               <span>What projects will I work on during this UX design course?</span>
               <div class="shrink-0 group-[.show]/item:rotate-180 transition-all duration-300 ml-4">
                  <img src="img/arrow.svg" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="">
               </div>
            </button>
           
           <div class="accordion-collapse">
             <div class="accordion-body">
               In this chapter, you’ll embark on a journey into the foundational realm of Digital Design. Here, you will establish a solid understanding of what is user experience. You'll explore the essential elements that shape the visual and interactive aspects of digital products, and become familiar with the different careers you could pursue within the digital design industry.
             </div>
           </div>
         </div>
      </div>
   </div><!--end container-->

   <footer class="bg-primary text-white sm:text-xl sm:leading-normal">
      <div class="container pt-5 xs:pt-10 pb-12 xs:pb-0 xs:grid xs:grid-cols-3 xs:gap-x-8">
         <div class="xs:col-span-2">
            <div class="xs:flex mb-7 xs:gap-9">
               <div><a href="mailto:Hello@reduxbootcamp.com" aria-label="mail">Hello@reduxbootcamp.com</a></div>
               <div><a href="tel:+447361442688" aria-label="Phone">+44 7361 4426 88</a></div>
            </div>
            <ul class="footer__nav mb-12">
               <li class="footer__nav_li"><a href="#" aria-label="About Us">About Us</a></li>
               <li class="footer__nav_li"><a href="#" aria-label="Courses">Courses</a>
                  <div class="opacity-50 text-sm sm:text-base">Product Design <br>
                  <a href="#" class="hover:underline" aria-label="UI Design">UI Design</a> - Coming Soon</div>
               </li>
               <li class="footer__nav_li"><a href="#" aria-label="Student Stories">Student Stories</a></li>
               <li class="footer__nav_li"><a href="#" aria-label="Careers">Careers</a></li>
            </ul>
         </div>
         <div class="xs:col-span-1">
            <ul class="flex justify-end flex-wrap gap-5">
               <li class="mb-5"><a href="#"  aria-label="Social instagram" class="social_a">
                  <img src="img/social_insta.png" width="20" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="-inset-9999 absolute m-auto sm:scale-150">
               </a></li>
               <li class="mb-5"><a href="#" class="social_a" aria-label="Social X">
                  <img src="img/social_x.png" width="24" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="-inset-9999 absolute m-auto sm:scale-150">
               </a></li>
            </ul>
            <div class="opacity-50 text-sm sm:text-base text-right">©2023 reduxbootcamp</div>
         </div>
      </div>
   </footer>
   <script src="js/fslightbox.js"></script>
   <script src="js/script.js"></script>
</body>
</html>