<!DOCTYPE html>
<html lang="en">

<head> 

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Payment State</title>
<meta name="description" content="Enrol in a Digital Design bootcamp to kickstart your professional career" />

<link rel="stylesheet" href="css/styles.css">


</head>

<body class="pt-24">
   <header class="header"><div class="container">
      <div class="header-bordered py-6">
         <a href="#"  class="shrink-0" aria-label="logo">
            <img src="img/logo.svg" width="107" height="48"  alt="">
         </a>
      </div>
   </div></header>
	<div class="container pt-10 sm:pt-20">
      <h1 class="text-3.5xl sm:text-4.5xl sm:leading-snug font-medium mb-10 sm:mb-20">Enrol for Product Design bootcamp</h1>
      <form action="#" class="xs:flex gap-x-8 tarif__block">
         <!--tarif_left-->
         <div class="hidden sm:block w-48 shrink-0">
            <div class="tarif_row h-22">
               Payment Plan
            </div>
            <div class="tarif_row h-12">
               Duration
            </div>
            <div class="tarif_row h-12">Course Coordinators</div>
            <div class="tarif_row h-12">Design mentor</div>
            <div class="tarif_row h-12">Career advisor</div>
            <div class="tarif_row h-12">Curriculum</div>
            <div class="tarif_row h-12">Portfolio</div>
            <div class="tarif_row h-12">Tarif</div>
         </div><!--end tarif__left-->
         <div class="block px-6 border border-t-4 border-accent sm:w-72 mb-10 sm:mb-20">
            <div class="tarif_row h-22 text-2xl xs:text-3.5xl">
               Autonomous
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Online, 6 months</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Help and Technical Support</div>
            </div>
            <div class="tarif_row h-12">
               --
            </div>
            <div class="tarif_row h-12">
               --
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Over 100 hours of practice</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">4 substantial case studies</div>
            </div>
            <div class="tarif_row tarif_row--radio radio h-52">               
               <input id="radio_1" checked name="radio_tarif" type='radio' class="opacity-0 absolute -left-9999" />
               <label for='radio_1' class="radio_tarif_label"></label>
               <div class="radio_ico mt-0 mb-5"></div>
               <div class="radio_caption">
                  <div class="flex mb-4">
                     <div class="radio_tarif_btn">Budget Friendly</div>
                  </div>
                  <div class="flex justify-between w-full">
                     <div>
                        <div class="font-bold">Pay upfront</div>
                        for 6 months
                     </div>
                     <div class="radio_tarif_price">$990</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="block px-6 border border-t-4 border-primary sm:max-w-lg w-full mb-10 sm:mb-20" aria-label="Tarif2">
            <div class="tarif_row h-22 text-2xl xs:text-3.5xl">
               Pro
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Online, 6 months</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Help and Technical Support</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Weekly calls with experienced design mentor</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Monthly calls with a career advisor</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">Over 100 hours of practice</div>
            </div>
            <div class="tarif_row h-12">
               <div class="ul_li_checked">4 substantial case studies</div>
            </div>
            <div class="tarif_row tarif_row--radio radio h-52">               
               <input id="radio_2" name="radio_tarif" type='radio' class="opacity-0 absolute -left-9999" />
               <label for='radio_2' class="radio_tarif_label"></label>
               <div class="radio_ico mt-0 mb-5"></div>
               <div class="radio_caption">
                  <div class="flex mb-4 justify-between w-full">
                     <div class="radio_tarif_btn">Best value</div>
                     <div class="text-2xl">
                        <span class="text-primary4 line-through">$8,800</span>
                        <span class="ml-2.5 text-secondary">-20%</span>
                     </div>
                  </div>
                  <div class="flex justify-between w-full">
                     <div>
                        <div class="font-bold">Upfront discount</div>
                        pay upfront and save
                     </div>
                     <div class="radio_tarif_price">$7,040</div>
                  </div>
               </div>
            </div>
            <div class="tarif_row tarif_row--radio radio h-52">               
               <input id="radio_3" name="radio_tarif" type='radio' class="opacity-0 absolute -left-9999" />
               <label for='radio_3' class="radio_tarif_label"></label>
               <div class="radio_ico mt-0 mb-5"></div>
               <div class="radio_caption">
                  <div class="flex mb-4 justify-between w-full">
                     <div class="radio_tarif_btn">Flexible</div>
                  </div>
                  <div class="flex justify-between w-full">
                     <div>
                        <div class="font-bold">Monthly</div>
                        only pay for the month you need
                     </div>
                     <div class="radio_tarif_price">$1,299</div>
                  </div>
               </div>
            </div>
         </div>
      </form><!--end tarif__block-->
      <div class="bg-accent2 py-6 sm:py-12 sm:px-28 -mx-5 px-5 md:mb-10"><form action="#">
         <h3 class="text-2xl sm:text-2.5xl leading-normal font-medium mb-5 sm:mb-10">Start date & Payment</h3>
         <div class="mb-8 sm:mb-12">
            <label for="" class="block mb-2">Pick the bootcamp start date</label>
            <div class="xs:flex items-center">
               <div class="select max-w-sm_2">
                  <select name="" id="">
                     <option value="">October 28th, 2023</option>
                     <option value="">December 28th, 2023</option>
                     <option value="">October 28th, 2023</option>
                     <option value="">December 28th, 2023</option>
                  </select>
               </div>
               <div class="text-secondary xs:ml-2.5 my-3">Limited slots due to mentors capacity</div>
            </div>
         </div>
         <div class="mb-8 sm:mb-12">
            <label for="" class="block mb-2">Card Number</label>
            <div class="xs:flex items-center">
               <input type="text" class="form-control max-w-sm_2 shrink-0" />
               <div class="xs:ml-2.5 shrink-0 my-3">
                  <img src="img/payments.png" width="163" height="25" alt="" />
               </div>
            </div>
         </div>
         <div class="mb-8 sm:mb-12">
            <label for="" class="block mb-2">Name on a Card</label>
            <div class="xs:flex items-center">
               <input type="text" class="form-control max-w-sm_2 shrink-0" />
            </div>
         </div>
         <div class="mb-8 sm:mb-12 grid grid-cols-2 gap-8 max-w-sm_2">
            <div class="">
               <label for="" class="block mb-2">Expiry Date</label>
               <div class="xs:flex items-center">
                  <input type="text" class="form-control max-w-sm_2 shrink-0" />
               </div>
            </div>
            <div class="">
               <label for="" class="block mb-2">CVV Code</label>
               <div class="xs:flex items-center">
                  <input type="text" class="form-control max-w-sm_2 shrink-0" />
               </div>
            </div>
         </div>
         <hr class="mb-8 border-t border-primary/10">
         <div class="flex flex-wrap items-center justify-between">
            <div class="xxs:flex items-center mt-4">
               <div class="shrink-0">
                  <img src="img/powered.png" width="130" alt="" loading="lazy" decoding="async" style="background-size: cover; background-image: none;" class="object-cover">
               </div>
               <div class="mt-2 xxs:mt-0 xxs:ml-2.5 mr-3">
                  Payment is 100% secure <br>
                  This is a secure 128-bit SSl encrypted payment processed by Stripe
               </div>
            </div>
            <button type="submit" class="btn py-4 px-10 mt-4 ml-auto">Pay Securely $7,040</button>
         </div>
         

      </form></div>
   </div><!--end container-->
   <script src="js/script.js"></script>
</body>
</html>